.rrc-result-card {
  background-color: var(--rrc-results-bg);
  border-radius: 8px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rrc-profile-img {
  height: 100%;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
}

.rrc-result-info {
  width: 100%;
  max-width: 902px;
  background-color: var(--rrc-results-info-bg);
  border: 1px solid var(--rrc-results-border);
  border-radius: 6px;
  padding: 10px 15px;
  margin-top: 20px;
}

.rrc-result-info h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: var(--rrc-results-title);
  margin-bottom: 19px;
}

.rrc-result-field {
  color: var(--rrc-results-font);
  background-color: var(--rrc-results-info-bg);
  border: 1px solid var(--rrc-results-border);
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  border-radius: 4px;
  margin-bottom: 5px;
  padding: 8px 10px;
}

.rrc-result-field span {
  font-weight: 400;
}

.rrc-user-link {
  cursor: pointer;
  color: var(--rrc-result-link);
}

.rrc-user-link:hover {
  color: var(--rrc-results-title);
}

.rrc-result-error {
  color: var(--rrc-font-secondary);
  font-size: 26px;
  line-height: 46px;
  font-weight: 500;
  margin-top: 64px;
}

@media (min-width: 576px) {
  .rrc-result-error {
    color: var(--rrc-font-secondary);
    font-size: 38px;
    line-height: 46px;
  }
}

@media (min-width: 768px) {
  .rrc-result-card {
    padding: 45px 35px;
    flex-direction: row;
    justify-content: space-between;
  }

  .rrc-result-info {
    margin-top: 0px;
    margin-left: 29px;
  }
}

@media (min-width: 992px) {
  .rrc-profile-img {
    max-height: 247px;
    max-width: 247px;
  }

  .rrc-result-info h2 {
    font-size: 20px;
    line-height: 28px;
  }

  .rrc-result-info p {
    font-size: 16px;
    line-height: 24px;
  }
}
