@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --rrc-bg-primary: #1890ff;
  --rrc-bg-secondary: #ffffff;

  --rrc-font-primary: #ffffff;
  --rrc-font-secondary: #262626;

  --rrc-section-title-font: #000000;
  --rrc-section-subtitle-font: #7e7e7e;

  --rr-btn-bg: #1890ff;
  --rr-btn-font: #ffffff;

  --rrc-input-font: #5c5858;
  --rrc-inputborder: #d9d9d9;
  --rrc-placeholder: #bfbfbf;

  --rrc-card-primary: #e6f7ff;
  --rrc-card-title-font: #262626;

  --rrc-card-results-bg: #f5f5f5;
  --rrc-card-results-title: #1890ff;
  --rrc-card-results-font: #737373;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

body,
html {
  background-color: var(--rrc-bg-secondary);
}

main {
  padding: 20px;
}

/* Generic Styles */

.rrc-container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

/* Button Styles */

.rrc-btn {
  font-size: 16px;
  font-weight: 700;
  color: var(--rr-btn-font);
  background-color: var(--rr-btn-bg);
  width: 101px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

.rrc-btn:hover {
  background-color: var(--rr-btn-font);
  color: var(--rr-btn-bg);
  border: 1px solid var(--rr-btn-bg);
}
